/*!CK:215125467!*//*1384269486,173220919*/

._560b div, ._560b span{display:inline-block;margin-right:4px}
._560c, ._560d{-webkit-border-radius:14px;height:14px;position:relative;top:3px;width:14px}
._560c{background-color:#00ad00}
._560d{background-color:#ff8500}
._5b9{float:left;width:360px}
._61s{float:right;margin-bottom:10px;width:360px}
._5bn .contentColumn{margin-bottom:10px}
._5bn .contentColumn .pingbackReport th{text-align:left;width:102px}
._4v-{position:relative}
._5b8{display:block;padding:2px;position:absolute;right:0;top:0}
._5s8{background-color:#f03d25;-webkit-border-radius:2px;color:#fff;font-weight:bold}
._2uh{float:left;height:74px;margin-right:10px;position:relative;width:74px}
._2uh ._2ui{background-image:url(/rsrc.php/v2/yL/r/56Vqz5q3IMC.png);background-position:center;background-repeat:no-repeat;height:100%;overflow:hidden;width:100%}
._2uh ._2ui:hover{background-image:url(/rsrc.php/v2/yr/r/ci1jCMlpGrK.png)}
._2uh ._2uj{background:none repeat scroll 0 0 #000;display:none;height:16px;opacity:.7;padding:2px 4px 2px 4px;position:absolute;right:0;top:0}
._2uh ._2uk{color:#fff}
._2uh:hover ._2uj{display:block}
._2ul{opacity:.5}
._5bii{background-color:#f0f3f8;height:106px;width:100%}
._5bii ._2ui{background-image:url(/rsrc.php/v2/yv/r/BLjwDfYM8al.png)}
._5bii ._2ui:hover{background-image:url(/rsrc.php/v2/yO/r/S4yZGn4y3xt.png);color:#6178b4}
._2ui._5qlu{background-position:50% 22%;color:#a0aed1;font-size:14px}
._5bii div._5qlv{margin-top:40%}
._5bii a{text-decoration:none}
.devsitePage ._9r9{margin-bottom:0;vertical-align:middle}
._4y76.uiHeaderSection{background-color:#e7e7e7;border-top:1px solid #d0d0d0;margin:10px 0}
.devsitePage .body .bodyMenu ._5b3{position:relative}
.devsitePage .body .bodyMenu ._5b4{padding-left:5px}
._5b5{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:126px}
._5b6{float:left;margin-right:10px}
._5b7{display:block;font-size:9px;padding:0 3px;position:absolute;right:0;top:6px}
.prettyprint .pln{color:#000}
@media screen{.prettyprint .str{color:#080}
.prettyprint .kwd{color:#008}
.prettyprint .com{color:#800}
.prettyprint .typ{color:#606}
.prettyprint .lit{color:#066}
.prettyprint .pun, .opn, .clo{color:#660}
.prettyprint .tag{color:#008}
.prettyprint .atn{color:#606}
.prettyprint .atv{color:#080}
.prettyprint .dec, .var{color:#606}
.prettyprint .fun{color:red}
}
@media print, projection{.prettyprint .str{color:#060}
.prettyprint .kwd{color:#006;font-weight:bold}
.prettyprint .com{color:#600;font-style:italic}
.prettyprint .typ{color:#404;font-weight:bold}
.prettyprint .lit{color:#044}
.prettyprint .pun, .opn, .clo{color:#440}
.prettyprint .tag{color:#006;font-weight:bold}
.prettyprint .atn{color:#404}
.prettyprint .atv{color:#060}
}
pre.prettyprint{padding:2px;border:1px solid #888}
.prettyprint ol.linenums{margin-top:0;margin-bottom:0}
.prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3, .prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8{list-style-type:none}
.prettyprint li.L1, .prettyprint li.L3, .prettyprint li.L5, .prettyprint li.L7, .prettyprint li.L9{background:#eee}

#bootloader_dtmH1 { height: 42px; }
.bootloader_dtmH1 { display:block !important; }